---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'RAIRprotocol enables the creation of scalable Dapps through an open token licensing model',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Source Code',
        href: 'https://github.com/rairprotocol/RAIRdocs/tree/main',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Knowledge Base', href: 'https://docs.rairprotocol.org' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'RAIRprotocol Hero Image' }}
  >
    <Fragment slot="title">
      Open Infrastructure for <span class="hidden xl:inline">creating</span>
      <span class="text-accent dark:text-white highlight"> Dapps </span>that scale
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">RAIRprotocol</span> enables the creation of scalable Dapps through an open token licensing model.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Build</span>
       Smart Account, Marketplace, DRM, & NFT infrastructure all in one place. 
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Bring Your Own Cloud"
    title="What you get with RAIRprotocol"
    subtitle="Complete Dapp Infrastructure"
    items={[
      {
        title: 'RAIRsolidity',
        description:
          'Granular onchain NFT minting, royalty, resale, fungible token credit, and marketplace logic via ERC2535 upgradeable diamond multi-proxy contracts.',
        icon: 'tabler:currency-ethereum',
      },
      {
        title: 'RAIRnode',
        description:
          'Backend to create your own modular API endpoints and offchain infrastructure. Configurable with 100+ environment variables for easily deployment.',
        icon: 'tabler:database-cog',
      },
      {
        title: 'RAIRfrontend',
        description:
          'Deploy customizable mobile first NFT marketplace frontends using modular REACT + Typescript framework. Easy whitelabel deployment via pre built UI/UX configurations. Full administrator dashboards.',
        icon: 'tabler:device-tablet',
      },
      {
        title: 'RAIRstream',
        description:
          'DRM protect content with a full FFmpeg encoder/transcoder. Hashicorp Vault or database KMS credentials to create the ultimate secure DRM media systems.',
        icon: 'tabler:badge-4k',
      },
      {
        title: 'RAIRsync',
        description:
          "Specify all smart contract addresses to sync via Alchemy syncing engine. RPC syncing fallback. Support for all Alchemy supported blockchains. Efficient syncing from selectable block heights.",
        icon: 'tabler:refresh',
      },
      {
        title: 'RAIRinfra',
        description:
          'RAIR is committed to fully open sourcing all aspects of our knowledge base. This includes: Terraform scripts, CI/CD pipeline, Kubernetes configurations. Deploy full MongoDB Cloud Atlas instances with a scalable offchain trade and execution engine.',
        icon: 'tabler:building-bridge',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Fully Open Source"
    title="Innovative Licensing Model"
    items={[
      {
        title: 'Apache2.0 Reimagined',
        description:
          'Adapting Apache2.0 for the Web3 Era. Token burn based licensing model',
      },
      {
        title: 'NOTICE file NFTs',
        description:
          'Provenance inside NOTICE file in all derivative codebases proves a valid open source license exists onchain',
      },
      {
        title: 'Fair Pricing',
        description:
          'Free for developers, graduated scale for enterprise based on % of ARR',
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/rairprotocol/RAIRsite/main/src/assets/images/far.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Association Governance of License distribution</h3>
       Stewards the RAIR open codebase into the future with a sustainable decentralized funding mechanism
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: '1,000,000,000 RAIR',
        description: `Designed to reward active network development`,
      },
      {
        title: 'Thoughtful distribution',
        description:
          'Funding code audits, developer grants, CEX listings, strategic partnerships, all with eleganty designed lockup periods.',
      },
      {
        title: 'Bonding curves',
        description:
          "To balance the needs of early adopters and later participants through emissions curve release schedule.",
      },
      {
        title: 'Association Governance',
        description:
          'To foster longterm sustainable development.',
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/rairprotocol/RAIRsite/main/src/assets/images/medium.webp',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Tokenomics</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'New Features',
        description:
          'License holders can vote on new features. Fast track new enterprise development initiatives',
      },
      {
        title: 'Pull Requests',
        description:
          'DAO maintains the core codebase. Merges improvements and features from the community',
      },
      {
        title: 'Network Rewards',
        description: `Securely receive and distribute tokens generated from tokenomics mechanisms`,
      },
      {
        title: 'Voting',
        description:
          'On all important matters financial and code commits',
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/rairprotocol/RAIRsite/main/src/assets/images/landed.webp',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content"><h1>License Benefits</h1></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="How to license RAIR"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Clone</span>',
        description:
          "Fork the open RAIR repositories to get your project started",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Apply</em>',
        description:
          "For an official open source NFT license from the RAIR DAO.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Commit</span>',
        description:
          'Update your license.md file in your Git repo with your official RAIR NFT',
        icon: 'tabler:paint',
      },
      {
        title: 'Contribute to development and receive RAIR tokens!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/rairprotocol/RAIRsite/main/src/assets/images/pool.webp',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Ready for your API keys"
    subtitle="Critical Web3 infrastructure providers that have partnered with RAIRprotocol to provide out-of-the-box integration solutions"
    tagline="Integration Partners"
    items={[
      {
        title: 'Alchemy Sync',
        description: "Scalable syncing from supported EVM blockchains with one click",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Alchemy Account Kit',
        description:
          "Deploy AA ERC4337 smart accounts for your users",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Web3Auth',
        description:
          'Store user AA access credentials securely via self-custodial MPC',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Yoti',
        description:
          "Build fully KYC/AML and age compliant workflows via AI recognition",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Mongodb Cloud Atlas',
        description:
          'Deploy your own scalable database backends',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Hashicorp Vault',
        description: 'Store secret securely using industry best practice',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'FFmpeg',
        description: 'Full media distribution and DRM system.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Terraform',
        description:
          'Cloud deployment infrastructure as code',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Coingekko',
        description: "Onchain pricing and data feeds",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget *******  commenting out the blog-->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />-->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="What is RAIRprotocol all about?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
   {
        title: 'Can you ELI5',
        description:
          "Sure! RAIR is a bunch of Web3 Dapp code we are open sourcing to make Dapp building easier for everyone else",
      },
      {
        title: 'Why is RAIR licensing its code as an NFT?',
        description:
          'We want to keep RAIR free and open, while also embracing our Web3 routes. It makes to track licenses onchain as NFTs as this creates a valuable immutable provenance chain of title across codebases',
      },
      {
        title: 'What is Apache 2.0?',
        description:
          "Apache 2.0 is an open source license standard that requires 2 key things to license legally. 1 - if you change the code publish the changelog. 2 publish the original creators license.md file in the new codebase. This secodn clause enables our NFT licensing to work.",
      },
      {
        title: "Who is behind RAIR?",
        description:
          "A team of doxxed Enterprise SaaS entrepreneurs building in Web3 since 2016. See rair.market C Corp site for bios",
      },
      {
        title: 'Why does RAIR need a token?',
        description:
          "To make a circular economy is the short answer. To fund open source development is another answer. Capturing the value generated by open source software is the ultimate answer",
      },
      {
        title: 'What happens if I choose not to get an NFT license?',
        description:
          "Likely nothing. The code is open so you can fork it without attribution if you really want to. If you monetize the code in any significant way the DAO might bug you into compliance. Hopefully the value provided by the software exceeds the cost in RAIR to use officially.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Years of development', amount: '4' },
      { title: 'Jira tickets made', amount: '4800' },
      { title: 'API endpoints', amount: '88' },
      { title: 'Development cost', amount: '3M+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Apply',
        href: 'https://calendly.com/rairprotocol',
        target: '_blank',
        icon: 'tabler:mail-filled',
      },
    ]}
  >
    <Fragment slot="title">
      RAIRprotocol&nbsp;needs&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">you!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Apply for Association membership today<br class="hidden md:inline" />Get access to the full codebase and network rewards when launched
    </Fragment>
  </CallToAction>
</Layout>
